# Python cache files
__pycache__/
*.py[cod]

# Logs
logs/*.log

# Database
db/milvus/*
!db/milvus/.gitkeep

# Video files
video_samples/*
!video_samples/.gitkeep
video_samples_backup/*
!video_samples_backup/.gitkeep

# Model files - keep download.py but ignore other contents
models/*
!models/*.py
!models/.gitkeep

# macOS system files
.DS_Store

# IDE
.vscode/
.idea/

# environment
pipeline/

# data
buffer/